*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    background-color: #dddddd;
}

main{
    margin-top: 90px;
    margin-bottom: 100px;
}

#box{
    border: 1px solid white;
    padding: 10px;
    background-color: #ffffff;
}

.box{
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    padding: 100px;
    background-color: #ffffff;
}

#banner_image{   
    text-align: center; 
    background-position:center;
    color: #f8f8f8;
    height: 100%;
    background: url("https://wallpaperaccess.com/full/825735.jpg") no-repeat center center; 
    background-size: cover;
}

#banner_content{
    position: relative;
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 12%; 
    margin-bottom: 45%;  
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-primary{
    background-color: #00C69E;
}

.panel > .panel-heading{
    padding-bottom: 5px;
    padding-top: 5px;
}

#plan{ 
    margin-right: 10%;
    font-size: 50px;
    float: right; 
    text-decoration: none;
    color: #00C69E;
}

.button{
     background-color: white;
     color: #00C69E;
     border-color: #00C69E;
}

.button:hover{
    background-color: #00C69E;
    color: white;
}

.footer{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #000000;
}